@{

    ViewData["Title"] = "Book Detail" + Model.Title;

}
@model BookModel



<div class="container">
    <h3 class="h3">Book Details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.galleryImage.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0?"active":"")"></button>
                    }

                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.galleryImage.Count; i++)
                    {
                        <div class="@(i==0?"carousel-item active":"carousel-item")">
                            <img src="@Model.galleryImage[i].Url" class="d-block w-100" width="100" height="350" alt="@Model.galleryImage[i].Name">
                        </div>
                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <snap class="label"> By : </snap>
                    <snap class="font-monospace">@Model.Author</snap>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Read now
                    </a>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="fw-bold">Category - </span> @Model.Category</li>
                <li class="list-group-item"><span class="fw-bold">Total Pages - </span> @Model.TotalPages</li>
                <li class="list-group-item"><span class="fw-bold">Language - </span> @Model.LanguageName</li>

            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed src="@Model.BookPdfUrl" class="w-100" />
                    @*<iframe src="@Model.BookPdfUrl" class="w-100" />*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                    
                </div>
            </div>
        </div>
    </div>
</div>