@{

    ViewData["Title"] = "Book Detail" + Model.book.Title;
}

<div class="container">
    <h3 class="h3">Book Details</h3>
    <div class="row">      
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.book.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <snap class="label"> By : </snap>
                    <snap class="font-monospace">@Model.book.Author</snap>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.book.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">
                        Read now
                    </button>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="fw-bold">Category - </span> @Model.book.Category</li>
                <li class="list-group-item"><span class="fw-bold">Total Pages - </span> @Model.book.TotalPages</li>
                <li class="list-group-item"><span class="fw-bold">Labguage - </span> @Model.book.Language</li>
                <li class="list-group-item"><span class="fw-bold">SBIN No - </span> @Model.SBIN</li>
                <li class="list-group-item"><span class="fw-bold">Publisher - </span> @Model.Publisher</li>
                <li class="list-group-item"><span class="fw-bold">CompanyName - </span> @Model.CompanyName</li>
                <li class="list-group-item"><span class="fw-bold">TimeOfAction - </span> @Model.TimeOfAction</li>

            </ul>

        </div>
    </div>
</div>
<div class="container" id="similarBooks">
    <h3 class="h4">Similar Books</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success" style="width: 18rem;">
                <img src="~/images/img1.png" class="card-img-top" alt="image 1" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>